<section>
        
    <md-grid-list layout-margin flex 
                md-cols-sm="2" md-cols="3" md-cols-gt-md="3" 
                md-row-height="2:1" md-row-height-sm="2:2"
                md-gutter="12px">

        <md-grid-tile class="md-whiteframe-z1 orange">

            <div layout-fill layout="row" layout-sm="column" class="md-tile-content">
                <div layout-fill layout="column" layout-sm="row" layout-align="center center" class="md-tile-content">
                    <h2 class="TitleInBox">Totales </h2>        
                    <h2 class="TitleInBox">120</h2>        
                </div>
                <div layout-fill layout="column" layout-sm="row" layout-align="center center" class="md-tile-content">
                    <h2 class="TitleInBox">Online </h2>        
                    <h2 class="TitleInBox">12</h2>        
                </div>
            </div>

            <md-grid-tile-footer>
                <div class="md-tile-content" layout="row">
                    <md-icon class="DashboardIcon" md-svg-icon="user"></md-icon>
                    <h3 layout-padding>Usuarios</h3>
                </div>
            </md-grid-tile-footer>
        </md-grid-tile>



        <md-grid-tile class="md-whiteframe-z1 green">

            <div layout-fill layout="row" layout-sm="column" class="md-tile-content">
                <div layout-fill layout="column" layout-sm="row" layout-align="center center" class="md-tile-content">
                    <h2 class="TitleInBox">Totales </h2>        
                    <h2 class="TitleInBox">40</h2>        
                </div>
                <div layout-fill layout="column" layout-sm="row" layout-align="center center" class="md-tile-content">
                    <h2 class="TitleInBox">Online </h2>        
                    <h2 class="TitleInBox">10</h2>        
                </div>
            </div>

            <md-grid-tile-footer>
                <div class="md-tile-content" layout="row">
                    <md-icon class="DashboardIcon" md-svg-icon="commercializer"></md-icon>
                    <h3 layout-padding>Vendedores</h3>
                </div>
            </md-grid-tile-footer>
        </md-grid-tile>



        <md-grid-tile class="md-whiteframe-z1 teal">

            <div layout-fill layout="row" layout-sm="column" class="md-tile-content">
                <div layout-fill layout="column" layout-sm="row" layout-align="center center" class="md-tile-content">
                    <h2 class="TitleInBox"># 13</h2>        
                </div>
                <div layout-fill layout="column"  layout-sm="row" layout-align="center center" class="md-tile-content">
                    <h2 class="TitleInBox">$1,200.00</h2>        
                </div>
            </div>

            <md-grid-tile-footer>
                <div class="md-tile-content" layout="row">
                    <md-icon class="DashboardIcon" md-svg-icon="sell"></md-icon>
                    <h3 layout-padding>Compras</h3>
                </div>
            </md-grid-tile-footer>
        </md-grid-tile>

    </md-grid-list>

    <md-divider></md-divider>
    <md-subheader class="md-primary">Detalle</md-subheader>
        <button ng-click="Dashboard.conectar()">send something</button>
        <button ng-click="Dashboard.Add()">ADD</button>
        <button ng-click="Dashboard.Aceptar()">Aceptar</button>
    
         <md-grid-list layout-margin flex 
                    md-cols-sm="2" md-cols="6" md-cols-gt-md="6" 
                    md-row-height="2:2" md-row-height-sm="2:2"
                    md-gutter="6px">

           <md-grid-tile class="md-whiteframe-z1 lightblue">
                <div layout-fill layout="row" layout-align="center" class="md-tile-content">
                    <h2>#46</h2>
                </div>
            </md-grid-tile>



           <md-grid-tile class="md-whiteframe-z1 lightblue">
                <div layout-fill layout="row" layout-align="center" class="md-tile-content">
                    <h2>#46</h2>
                </div>
            </md-grid-tile>

           <md-grid-tile class="md-whiteframe-z1 lightblue">
                <div layout-fill layout="row" layout-align="center" class="md-tile-content">
                    <h2>#46</h2>
                </div>
            </md-grid-tile>

                       <md-grid-tile class="md-whiteframe-z1 lightblue">
                <div layout-fill layout="row" layout-align="center" class="md-tile-content">
                    <h2>#46</h2>
                </div>
            </md-grid-tile>


                       <md-grid-tile class="md-whiteframe-z1 lightblue">
                <div layout-fill layout="row" layout-align="center" class="md-tile-content">
                    <h2>#46</h2>
                </div>
            </md-grid-tile>


                       <md-grid-tile class="md-whiteframe-z1 lightblue">
                <div layout-fill layout="row" layout-align="center" class="md-tile-content">
                    <h2>#46</h2>
                </div>
            </md-grid-tile>


                       <md-grid-tile class="md-whiteframe-z1 lightblue">
                <div layout-fill layout="row" layout-align="center" class="md-tile-content">
                    <h2>#46</h2>
                </div>
            </md-grid-tile>


                       <md-grid-tile class="md-whiteframe-z1 lightblue">
                <div layout-fill layout="row" layout-align="center" class="md-tile-content">
                    <h2>#46</h2>
                </div>
            </md-grid-tile>

        </md-grid-list>

   
</section>
