<ion-view title="Faltan Chelas">

    <ion-content class="padding Container">

    	<h2 class="TitleSection">¿Algo Mas?</h2>

		<div class="card RoundCard">

            <ul class="list margen">

				<div class="item item-radio" ng-repeat="Product in ProductsOnDBComplement" >
	    			
	    			<label ng-click="SelectedRow(Product)">

	    				<input type="radio" name="group">
		    			<i class="radio-icon ion-checkmark-circled"></i>
		    			<div class="row item-content">
			    			<div class="col col-70 ProductItem"> {{Product.denomination}}</div>
							<div class="col col-30 PriceItem"> {{Product.description}}</div>	
			    		</div>

	    			</label>

	  			</div>

            </ul>
        </div>
		
		<br>
		
		<div ng-if="Order.price" class="card row">
			<div class="col col-left">
				<h4 style="text-align: left;" class="ProductItem">{{Order.product}}</h4>
			</div>
			<div class="col col-center">
				<h4 style="text-align: center;" class="ProductItem">{{Order.quantity}} Pack</h4>
			</div>
			<div class="col col-right">
				<h4 style="text-align: right;" class="ProductItem">{{Order.price | currency:"$"}}</h4>
			</div>
		</div>
		
        <button class="button button-block RoundButton Primary" ng-click="Continue()">
            Continuar
        </button>

    </ion-content>

</ion-view>