<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 70%;
      }
    </style>

  </head>
  <body>

    <div id="map"></div>

    <input name="origen" id="origen" type="text" placeholder="origen">
    <input name="destino" id="destino" type="text" placeholder="destino">

    <button ng-click="busca()">Buscar</button>

  </body>
</html>

