
<ion-view title="Login">

    <div class="col col-center BodyLogin">
        
        <br>
        <div class="row">
            <img class="image ImageLogin" src="img/icon.jpg" alt="Faltan Chelas Icon">
        </div>
        
        <h3 class="Title">Bienvenido a Faltan Chelas</h3>

        <div>

            <label class="Form item item-input RoundButton">
                <i class="icon ion-email">&nbsp;&nbsp;&nbsp;</i>
                <input type="text" placeholder="Email" ng-model="User.email">
            </label>
              
            <label class="Form item item-input RoundButton">
                <i class="icon ion-locked">&nbsp;&nbsp;&nbsp;</i>
                <input type="password" placeholder="Contraseña" ng-model="User.password">
            </label>

            <button class="button button-block RoundButton Primary" ng-click="Login()">
                Iniciar Sesion
            </button>

        </div>

    </div>
</ion-view>
