/* Empty. Add your own CSS if you like */


section {
	margin-right: 10%;
	margin-left: 10%;
}

.Container {
	padding-left:  10%;
	padding-right:  10%;
}

.Title {
	text-align: center;
	color: 
}
.ImageLogin {
	text-align: center;
}

.Round {
	border-radius: 40px;
}

.RoundLeft {
	background-color: white;
	border-color: #3E3B36;
	color: black;
	margin-right: -1%;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.RoundLeftActive {
	background-color: #3E3B36;
	border-color: #3E3B36;
	color: white;
	margin-right: -1%;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.RoundRight {
	background-color: white;
	border-color: #3E3B36;
	color: black;
	margin-left: -1%;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
.RoundRightActive {
	background-color: #3E3B36;
	border-color: #3E3B36;
	color: white;	
	margin-left: -1%;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.Primary {

	background-color: #EFC028;
	border-color: #EFC028;
	color:white;
}

.Secondary {

	background-color: #7B7669;
	border-color: #7B7669;

}







.lol{

	width: 100%;
	height: 100%;

}

.colorFondo {

	background-color: #3D3B34;

}

.icon {

	font-size: 200%;
	margin-top: -5%;

}

.iconTam {

	font-size: 200%;

}


.colorFooter {

	background-color: #7B7669;
	color: #ffffff;

}

.colorHeader {

	background-color: #EFC028;
	border-color: #EFC028;
	

}

.colorLetra {

	color: #ffffff;

}

.margen {

	margin-left: 4%;
	margin-right: 4%;

}

.botonTama {

	width: 80%;
	margin-top: .5%;
	margin-bottom: .5%;

}

.subtitle {

	margin-top: 10%;

}

.pago {

	display: inline-block;

}

.cardEspecial {

	width: 30%;

}

.centro {

	text-align: center;

}

.derecha {

	text-align: right;

}

.izquierda {

	text-align: left;

}


.conectar {

	margin-top: -.5%;

}
