<!DOCTYPE html>
<ion-view view-title="Contacts">
    <ion-content>
        <div class="list">
            <a class="item item-thumbnail-left ListContactCell">
                <img src="img/profile1.png">
                <br>
                <h2>John Doe</h2>
                <p>182-123-12-45</p>
            </a>
            <a class="item item-thumbnail-left ListContactCell">
                <img src="img/profile2.png">
                <br>
                <h2>Joshep Doe</h2>
                <p>182-123-12-45</p>
            </a>
            <a class="item item-thumbnail-left ListContactCell">
                <img src="img/profile1.png">
                <br>
                <h2>Liam Doe</h2>
                <p>182-123-12-45</p>
            </a>
        </div>
    </ion-content>
</ion-view>
